@model IEnumerable<UserApp.Core.Role>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box">
    <div class="box-body">
        <table>
            <tr>
                <td width="100px">
                    <a href="~/Roles/Create" class="btn btn-block btn-danger">Add Role</a>
                </td>
            </tr>
            <tr><td height="10px">&nbsp;</td></tr>
        </table>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RoleName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoleStatus)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleStatus)
                </td>
                <td class="btn-group" width="89%">
                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Edit", "Edit", new { id = item.RoleID })</li>
                        <li>@Html.ActionLink("Delete", "Delete", new { id = item.RoleID })</li>
                    </ul>
                </td>
            </tr>
            }
        </table>
    </div>
</div>